body {
    font-family: 'Times New Roman', Times, serif;

}

button{
    background: lightseagreen;
    border: 1px solid lightblue;
    color: whitesmoke;
    padding: 2px;
    font-size:100px;

}
h1{
 font-size:100px;   
}

